.row
  .col-xs-10.col-xs-offset-1
    %table.table.table-striped
      %thead
        %tr
          %th{:style => "width: 60px"} Image
          %th{:style => "width: 60px"} Price
          %th{:style => "width: 60px"} Date
          %th Message
      %tbody
        - @contacts.each do |contact|
          %tr
            %td
              =image_tag contact.listing.picture, width: 50,height:50, class: 'img-responsive'
            %td
              =contact.listing.price
            %td
              =l(contact.updated_at)
            %td{:style => "width: 200px"}
              =contact.message
